.trade-machine-body-select-teams_input {
  display: inline-block;
  padding: 20px 20px 40px;
  width: 400px;

  > h1 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }
}
